
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
}
main{
    background-color: #02062e;
    height: calc(100vh - 100px);
    max-height: 880px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.info{
    color: rgb(72, 102, 187);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    border: 2px solid rgb(72, 102, 187);
    
}